
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:url("/images/ferrari2.jpg") center center/cover no-repeat;
}

.container{
width: 100%;
min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:rgba(0,0,0,.45);
}

.logincard{

width:340px;

padding:38px 30px;

background:rgba(20,20,20,.38);

border:1px solid rgba(255,255,255,.18);

backdrop-filter:blur(12px);
-webkit-backdrop-filter:blur(12px);

box-shadow:
0 15px 40px rgba(0,0,0,.45);

}


.logincard h1{

color:white;

text-align:center;

font-size:38px;

font-weight:600;

margin-bottom:32px;

}

.inputbox{

width:100%;

height:48px;

display:flex;

align-items:center;

background:white;

margin-bottom:18px;

}

.icon{

width:48px;

text-align:center;

color:black;

font-size:17px;

}

.inputbox input{

flex:1;

height:100%;

border:none;

outline:none;

background:transparent;

color:black;

font-size:15px;

padding-right:15px;

}

.inputbox input::placeholder{

color:grey;

}


.inputbox:focus-within{

box-shadow:0 0 10px rgba(58,154,255,.55);

}

.forgot{

margin:5px 0 22px;

}

.forgot a{

color:white;

text-decoration:none;

font-size:14px;

font-weight:400;

}

.forgot a:hover{

text-decoration:underline;

}

.login-btn{

width:100%;

height:48px;

border:none;

background: rgb(93, 93, 227);

color:white;

font-size:20px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

background:blue;

}

.login-btn:active{

transform:scale(.98);

}

.divider{
text-align:center;
color:white;
font-size:16px;
font-weight:400;
margin:25px 0;
}



.social{
display:flex;
justify-content:space-between;
gap:12px;
margin-bottom:28px;
}

.social a{
flex:1;
height:45px;

display:flex;
justify-content:center;
align-items:center;

text-decoration:none;
color:white;

font-size:15px;
font-weight:500;

transition:0.3s;
}

.social a i{
margin-right:8px;
font-size:16px;
}

.facebook{
background:#3b5998;
}

.facebook:hover{
background:#324b81;
}

.instagram{
background:#e1306c;
}

.instagram:hover{
background:#c82361;
}

.signup{
text-align:center;
color:#ffffff;
font-size:15px;
font-weight:400;
}

.signup a{
color:#2ea8ff;
text-decoration:none;
font-weight:600;
}

.signup a:hover{
text-decoration:underline;
}


@media (max-width:768px){

.logincard{
width:90%;
max-width:340px;
padding:35px 25px;
}

.logincard h1{
font-size:34px;
}

.social{
flex-direction:column;
}

.social a{
width:100%;
}
}

@media (max-width:480px){

.logincard{
width:92%;
padding:28px 20px;
}

.logincard h1{
font-size:30px;
margin-bottom:25px;
}

.inputbox{
height:45px;
}

.login-btn{
height:45px;
font-size:18px;
}

.divider{
font-size:15px;
}

.signup{
font-size:14px;
}
}
